blinker==1.9.0
click==8.3.1
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
psutil==7.2.1
Werkzeug==3.1.4
flask-sqlalchemy
psycopg2-binary
flask
flask-sqlalchemy
psutil
psycopg2-binary
sqlalchemy
flask
flask-sqlalchemy
psutil
gunicorn
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
email_validator
flask
flask-sqlalchemy
gunicorn
psutil
psycopg2-binary
sqlalchemy
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
flask-login
flask-sqlalchemy
gunicorn
